/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Body and Background */
body {
    background: linear-gradient(to bottom, #9f0a0a, #ffffff); /* Градиентный фон */
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header */
header {
    background-color: #950b0b; /* Основной цвет */
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.holiday-logo {
    font-size: 2rem; /* Увеличенный размер шрифта */
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Тень для текста */
}

/* Nav Menu */
.nav-menu {
    display: flex;
    gap: 1.5rem;
}

.nav-menu a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease; /* Добавлено преобразование */
}

.nav-menu a:hover {
    color: #dda0dd;
    transform: scale(1.1); /* Увеличение при наведении */
}

/* Main Occasion Content */
.occasion-main {
    max-width: 1200px;
    width: 100%;
    padding: 2rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9); /* Полупрозрачный фон */
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 2.5rem;
    color: #950b0b;
    margin-bottom: 2rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

/* Item Grid */
.item-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr)); /* Адаптивная сетка */
    gap: 2rem; /* Отступы между элементами */
}

.item-card {
    background-color: #ffffff;
    border-radius: 15px; /* Закругленные углы */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.item-image {
    height: 250px; /* Высота изображения */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.item-image img {
    width: 100%; /* Ширина изображения 100% */
    height: 100%; /* Высота изображения 100% */
    object-fit: cover; /* Обеспечивает обрезку изображения для заполнения контейнера */
}

.item-details {
    padding: 1rem; /* Уменьшено для лучшего соответствия */
    text-align: center;
}

.item-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #004b0b;
}

.item-price {
    color: #950b0b;
}

/* Footer */
footer {
    background-color: #950b0b;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    width: 100%;
}

/* Responsive Design */
@media (max-width: 768px) {
    .nav-menu {
        flex-direction: column;
        align-items: center;
    }

    header {
        flex-direction: column;}}